body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);

}

.login {
    justify-content: center;
    border-radius: 10px;
    align-items: space-evenly;
    text-align: center;
    padding-top: 60px;
    width: 55vw;
    height: 80vh;
    border: 2px solid red;
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);

}
.login:hover{
    transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

a {
    margin-left: 15px;
    text-decoration: none;
}

a:hover {
    color: green;
}

.b {
    margin: 5px;
    padding: 10px 60px;
    border-radius: 6px;
    box-shadow: 5px 3px;
}

.b:hover {
    color: black;
    background-color: red;
}
